<div class="twelve wide column">

  <ul class="ui breadcrumb">
    <li class="section"><%= link_to '抽奖列表', gifts_path %></li>
    <li class="divider"> / </li>
    <li class="section">New Gift</li>
  </ul>

  <%= render 'form' %>

</div>