<div class="ui borderless menu">
  <div class="ui container">


    <%= image_tag "logo.png", class: 'item', size: '50x50' %>

    <%= link_to '抽奖', gifts_path, class: 'item' %>


  </div>
</div>

<script>
  $('.ui.dropdown').dropdown();
</script>
